<div class="col-md-6 divfondos">
	<div class="link titulo">
	<a href="/pages/batman">BATMAN</a>
	</div>
	<%= image_tag 'img1.jpg', class:'fondos' %>
</div>

<div class="col-md-6 divfondos">
	<div class="link titulo2">
	<a href="/pages/superman">SUPERMAN</a>
	</div>
	<%= image_tag 'img2.jpg', class:'fondos' %>
</div>