<!DOCTYPE html>
<html class="superman">
<head>
	<title>BATMAN</title>


</head>
<body class="titulo2">


<h1 class="titulo2">This looks like a job for Superman</h1>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script type="text/javascript" src="/assets/jquery.backstretch.min.js"></script>

<script type="text/javascript">
  $.backstretch("/assets/img2.jpg")
</script>

</body>
</html>